.checked {
	color: green;
  }
  .checked:before {
	content: "\2713";
	padding: 0.4rem;
	font-size: 1rem;
  }
  .checked:hover {
	text-decoration: none;
  }
  .checked:hover:after {
	content: "(delete)";
	color: tomato;
	text-align: right;
  }

body {
	font-family: Roboto;
	background: #3CA55C;  /* Old browsers */
	background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #B5AC49, #3CA55C); /* Newer browsers */;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background: #7dc06b;
}

h1 {
	background: #52c234;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #061700, #52c234); /* Newer browsers */
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-style: italic;
	font-size: 1.5rem;
	font-weight: normal;
}

.fa-plus {
	float: right;
}

.fa-trash {
	margin: 0.3rem;
	padding: 0.3rem;
	color: red;
}

li {
	background: #fff;
	height: 2.2rem;
	line-height: 2.2rem;
	color: #52c234;
	margin-left: 0.8rem;
	padding-left: 0.6rem;
	font-weight: 500;
}

li:nth-child(2n){
	background: #f7f7f7;
}

span {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

p {
	text-align: center;
	color: #e74c3c;
	opacity: 0.75;
	display: inline-block;
}

p:hover span {
	font-weight: bold;
	opacity: 1.0;
	color: #358220;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}

input {
	font-size: 18px;
	color: #358220;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}

input:focus{
	background: #fff;
	border: 3px solid #358220;
	outline: none;
}

#container {
	width: 360px;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}

.completed {
	color: gray;
	text-decoration: line-through;
}

footer {
    position: relative;
    padding: 1em;
    color: #000000;
    background-color: transparent;
    clear: left;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    text-shadow: 9px 5px 18px rgba(191, 145, 154, 0.72);
}